<div class="card mb-4">
  <div class="card-header">Categories</div>
  <div class="card-body">
    @for (cat of categories; track cat.slug) {
    <div class="sidebar-item">
      <a [routerLink]="['categories', cat.slug]" class="d-block">{{ cat.name }}
        <span class="badge bg-secondary float-end">{{cat.blogCount}}</span>
      </a>
    </div>
    }
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h6>Popular Posts</h6>
  </div>
  <div class="card-body">
    @for (post of popularPosts; track post._id) {
      <div class="popular-post-item">
        <h6 class="popular-post-title">
          <a [routerLink]="['blog', post._id]">{{ post.title }}</a>
        </h6>
         <div class="popular-post-meta">
           <div class="small text-muted">{{ post.likes }} likes • {{ post.views }} views</div>

         </div>
      </div>
    }
  </div>
</div>